<header class="header">
  <div class="container-fluid">
    <div class="header-container">
      <a href="#" class="header__logo"></a>
      <div class="header__right">
        <div class="header-lang">
          <div class="header-lang__inner">
            <span class="header-lang--actual">укр</span>
            <ul class="header-lang__list">
              <li class="header-lang__item"><a href="#" class="header-lang__link">рус</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">eng</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">eng</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">eng</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">eng</a></li>
              <li class="header-lang__item"><a href="#" class="header-lang__link">eng</a></li>
            </ul>
          </div>
          <span id="headerIconMenu" class="header-lang__menu-icon"></span>
        </div>
        <div class="header-nav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

  </div>

  <!--<nav id="headerNav" class="header-nav">
</nav>-->
</header>
